<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- http://getbootstrap.com/docs/5.3/ -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <link rel="shortcut icon" type="image/png" href="static/images/icon.png" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap"
      rel="stylesheet"
    />

    <link href="/static/css/styles.css" rel="stylesheet" />

    <title>Banksy App: {% block title %}{% endblock %}</title>
  </head>
  <body>
    {% if session["user_id"] %}
    <!-- Navigation for logged-in users -->
    {% include "logged_in_nav.html" %} {% else %}
    <!-- Navigation for non-logged-in users -->
    {% include "logged_out_nav.html" %} {% endif %} {% if get_flashed_messages()
    %}
    <header>
      <div class="alert alert-primary mb-0 text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
      </div>
    </header>
    {% endif %}

    <!-- Main content -->
    <main class="app container py-5 text-center">
      {% block main %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="fixed-bottom py-3">
      <div class="container d-flex justify-content-center">
        <span>&copy; by Peter Riding</span>
      </div>
    </footer>
  </body>
</html>
