{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
main %}
<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <form action="/login" method="post" class="login-form">
      <h2 class="login-title">Login</h2>
      <div class="mb-3">
        <input
          autocomplete="off"
          autofocus
          class="form-control-1 login__input login__input--user"
          name="username"
          placeholder="user"
          type="text"
        />
      </div>
      <div class="mb-3">
        <input
          class="form-control-1 login__input login__input--pin"
          name="password"
          placeholder="PIN"
          type="password"
        />
      </div>
      <button class="btn login__btn btn-block" type="submit">&rarr;</button>
    </form>
  </div>

  <script
    src="{{ url_for('static', filename='js/login.js') }} "
    type="module"
  ></script>
  {% endblock %}
</div>
